<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="workshop.minimarket.entity.Grup"/>
    <mapping class="workshop.minimarket.entity.Produk"/>
    <mapping class="workshop.minimarket.entity.Barang"/>
    <mapping class="workshop.minimarket.entity.Penjualan"/>
    <mapping class="workshop.minimarket.entity.PembelianDetail"/>
    <mapping class="workshop.minimarket.entity.Pembelian"/>
    <mapping class="workshop.minimarket.entity.PenjualanDetail"/>
    <mapping class="workshop.minimarket.entity.Pengguna"/>
    <mapping class="workshop.minimarket.entity.Pelanggan"/>
    <mapping class="workshop.minimarket.entity.Pemasok"/>
    <mapping class="workshop.minimarket.entity.Pembelian"/>
    <mapping class="workshop.minimarket.entity.PembelianDetail"/>
    <mapping class="workshop.minimarket.entity.Session"/>
  </session-factory>
</hibernate-configuration>
